#Input-label {
  margin: 50px 20px 10px;
}

form {
  margin-left: 20px;
  margin-right: 20px;
}

.namesInput {
  display: flex;
}

label {
  align-self: center;
}

input {
  margin: 10px;
  height: 25px;
  flex-grow: 4;
  min-width: 200px;
  max-width: 400px;
  align-self: center;
}

select {
  margin: 10px;
  height: 31px;
  align-self: center;
}

#lengthError {
  color: #980000;
}

#error_log {
  color: #980000;
  margin-left: 15px;
}
